:root {
  --colourr: #d8841e;
  --dark: #131a26;
  --light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: var(--light);
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;

}

.Calculator {
  width: 100%;
  max-width: 400px;
  background-color: #FFF;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

.display span {
  font-size: 14px;
  color: #888;

}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.6;

}

.operators {
  display: flex;

}

.operators button {
  flex: 1 1 0%;
  background-color: var(--colourr);
  font-weight: 700;
}

.digits {
  display: flex;
  flex-wrap: wrap;

}

.digits button {
  flex: 1 1 33.3333333%;
  max-width: 33.3333%;
  background-color: var(--dark);
}

.scientific-operations {
  display: flex;
  flex-wrap: wrap;
}

.scientific-operations button {
  flex: 1 1 33.33333%;
  max-width: 33.3333%;
  background-color: var(--dark);
}

.clear{
  display: flex;
  flex: 1 1 66.666666%;
  max-width:66.666666%;
  background-color: var(--dark);
}

.clear button{
  appearance: none;
  flex:0 0 100%;
  max-width:100%;
  color: white; 
  transition: 0.4s;
}

.clear button:hover{
  background-color: var( --light);
  opacity: 0.6;
}